.section {
  box-sizing: border-box;
  width: 50%;
  background-color: beige;
  margin: auto;
  padding: 12px 24px;
  text-align: center;
}

.h1 {
  font-size: 50px;
  padding: 12px 24px;
}

.ul {
  text-align: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 12px 24px;
}

.gobtn,
.gibtn {
  font-size: 1em;
  height: 2rem;
  background-color: transparent;
  outline: none;
  border-radius: 20%;
  cursor: pointer;
  margin: 4px 4px;
}
