.div {
  background-color: white;
  flex-basis: 50%;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.4em;
  padding: 0.5em 1em;
}

.plusBtn {
  position: fixed;
  font-size: 1em;
  color: skyblue;
  left: 1em;
  bottom: 4em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
