.form {
  display: flex;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
}

.imgdiv {
  flex-basis: 30%;
}
.img {
  max-width: 2rem;
}
.main {
  flex-basis: 60%;
}
.name {
}
.company {
}
.job {
}
.email {
}
.content {
}
